img {
  max-width: 100%;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.search-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-wrapper input {
	width: 100%;
	max-width: 300px;
	margin-right: 10px;
}

.pagination-wrapper {
	margin-bottom: 20px;
}

.pagination-wrapper button {
	margin-right: 10px;
}